.product-image {
    height: 200px;
    object-fit: cover;
}

.custom-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover Effect to Pop the Card */
.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card-footer {
    padding: 0.75rem;
}
