<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Create Product</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-center" role="alert">
            All inputs are created and modified by the admin.<br><br>
            <span class="font-weight-bold">Note:</span> The "UNCATEGORIZED" subcategory is designated for
            products that the admin is currently uncertain about categorizing. As such, it is neither
            editable nor deletable.
        </div>
        <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <!-- Name -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label fw-semibold">Name</label>
                        <input type="text" id="name" class="form-control rounded-3" formControlName="name"
                            placeholder="Enter product name" />
                    </div>
                    <div *ngIf="createProductForm.get('name')?.invalid && createProductForm.get('name')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('name')?.errors?.['required']">Product
                            name is
                            required.</small>
                        <small *ngIf="createProductForm.get('name')?.errors?.['maxlength']">Product name cannot exceed
                            100 characters.</small>
                    </div>
                </div>

                <!-- Brand -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="brand" class="form-label fw-semibold">Brand</label>
                        <input type="text" id="brand" class="form-control rounded-3" formControlName="brand"
                            placeholder="Enter brand name" />
                    </div>
                    <div *ngIf="createProductForm.get('brand')?.invalid && createProductForm.get('brand')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('brand')?.errors?.['required']">Brand
                            name is
                            required.</small>
                        <small *ngIf="createProductForm.get('brand')?.errors?.['maxlength']">Brand name cannot exceed 50
                            characters.</small>
                    </div>
                </div>

                <!-- Subcategory -->
                <div class="col-md-6">
                    <label for="category" class="form-label fw-semibold">Subcategory</label>
                    <select id="subcategory" formControlName="subcategoryId" class="form-control">
                        <option value="" disabled selected>Select subcategory</option>
                        <option *ngFor="let subcategory of categoryDropdown" [value]="subcategory.id">{{
                            subcategory.name }}</option>
                    </select>
                    <div *ngIf="createProductForm.get('subcategoryId')?.invalid && createProductForm.get('subcategoryId')?.touched"
                        class="text-danger">
                        <small>Subcategory is required.</small>
                    </div>
                </div>

                <!-- Edition -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="edition" class="form-label fw-semibold">Edition</label>
                        <input type="text" id="edition" class="form-control rounded-3" formControlName="edition"
                            placeholder="Enter edition (e.g., Limited, Special)" />
                    </div>
                    <div *ngIf="createProductForm.get('edition')?.invalid && createProductForm.get('edition')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('edition')?.errors?.['maxlength']">Edition name cannot
                            exceed 100 characters.</small>
                    </div>
                </div>

                <!-- Description -->
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label for="description" class="form-label fw-semibold">Description</label>
                        <textarea id="description" class="form-control rounded-3" formControlName="description"
                            placeholder="Enter description"></textarea>
                    </div>
                    <div *ngIf="createProductForm.get('description')?.invalid && createProductForm.get('description')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('description')?.errors?.['required']">Description is
                            required.</small>
                        <small *ngIf="createProductForm.get('description')?.errors?.['maxlength']">Description cannot
                            exceed 500 characters.</small>
                    </div>
                </div>

                <!-- Unit Price -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="unitPrice" class="form-label fw-semibold">Unit Price</label>
                        <input type="number" id="unitPrice" class="form-control rounded-3" formControlName="unitPrice"
                            placeholder="Enter unit price" />
                    </div>
                    <div *ngIf="createProductForm.get('unitPrice')?.invalid && createProductForm.get('unitPrice')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('unitPrice')?.errors?.['required']">Unit price is
                            required.</small>
                        <small *ngIf="createProductForm.get('unitPrice')?.errors?.['minlength']">Unit price must be
                            greater than zero.</small>
                    </div>
                </div>

                <!-- Unit Quantity -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="unitQuantity" class="form-label fw-semibold">Unit Quantity</label>
                        <input type="number" id="unitQuantity" class="form-control rounded-3"
                            formControlName="unitQuantity" placeholder="Enter unit quantity" />
                    </div>
                    <div *ngIf="createProductForm.get('unitQuantity')?.invalid && createProductForm.get('unitQuantity')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('unitQuantity')?.errors?.['required']">Unit quantity is
                            required.</small>
                        <small *ngIf="createProductForm.get('unitQuantity')?.errors?.['minlength']">Unit quantity must
                            be
                            greater than zero.</small>
                    </div>
                </div>

                <!-- Scent -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="scent" class="form-label fw-semibold">Scent</label>
                        <input type="text" id="scent" class="form-control rounded-3" formControlName="scent"
                            placeholder="Enter scent" />
                    </div>
                    <div *ngIf="createProductForm.get('scent')?.invalid && createProductForm.get('scent')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('scent')?.errors?.['maxlength']">Scent name cannot
                            exceed 100 characters.</small>
                    </div>
                </div>

                <!-- Volume -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="volume" class="form-label fw-semibold">Volume</label>
                        <input type="text" id="volume" class="form-control rounded-3" formControlName="volume"
                            placeholder="Enter volume (e.g., 500ml)" />
                    </div>
                    <div *ngIf="createProductForm.get('volume')?.invalid && createProductForm.get('volume')?.touched"
                        class="text-danger mt-1">
                        <small *ngIf="createProductForm.get('volume')?.errors?.['min']">Volume must be greater than
                            zero.</small>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="image">Image</label>
                <input type="file" id="image" (change)="onFileSelected($event)" class="form-control" />
                <!-- <div *ngIf="image?.invalid && image?.touched" class="text-danger">
                    <small *ngIf="image?.errors?.['required']">Image is required.</small>
                </div> -->
                <div *ngIf="imagePreviewUrl">
                    <img [src]="imagePreviewUrl" alt="Image Preview" class="img-fluid mt-2" />
                </div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="createProductForm.invalid">Create</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/admin/products">
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>