<div class="card mb-4 basket-item" *ngFor="let item of basketItems">
    <div class="row g-0 align-items-center">
      <div class="col-md-2">
        <img [src]="item.imageBase64" class="img-fluid rounded-start" alt="{{ item.name }}">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text mb-1"><strong>Price:</strong> ${{ item.unitPrice }}</p>
          <div class="d-flex align-items-center">
            <strong class="me-2">Quantity:</strong>
            <div class="d-flex align-items-center my-3">
                <button class="btn btn-outline-secondary me-2" (click)="updateQuantity('decrease')">-</button>
                <span class="mx-2 fs-5">{{ item.quantity }}</span>
                <button class="btn btn-outline-secondary ms-2" (click)="updateQuantity('increase')">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-end pe-3">
        <button class="btn btn-outline-danger" (click)="removeFromBasket(item)">
          <i class="bi bi-trash"></i> Remove
        </button>
      </div>
    </div>
  </div>
  
  
